.btn_market {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn_market:hover {
  background-color: #14b8bf;
  color: #fff;
}

.carousel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.market .swiper {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .carousel-image {
    height: 600px;
  }
}
